/* https://github.com/professor-varela/3TRI-IA23 */

html{
    --content_color: #fff;
    --content_background: rgb(43, 40, 40);
    --body_background: rgb(21, 22, 22);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: auto;
    background-color: var(--body_background);
  }

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

:root {
    --width-main-menu: 20rem;
}

body:before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 5px;
    width: var(--_percent, 0%);
}

@media (max-width: 800px) {
    header {
        flex-direction: column;
        height: 10%;
    }
    
    .txtAndImg {
        flex-direction: column;
        align-items: center;
    }
    
}


/* MENU HAMBURGUER */
/*
.menu-hamburger {
    border: none;
    background-color: transparent;
    
    --bt-size: 3rem;
    --bt-padding: .5rem;
    height: var(--bt-size);
    width: var(--bt-size);
    cursor: pointer;
    position: fixed;
    left: 1em;
    top: 1em;
    z-index: 1;
    transition: .3s;
}

.menu-hamburger>span,
.menu-hamburger::before,
.menu-hamburger::after {
    content: '';
    position: absolute;
    left: var(--bt-padding);
    right: var(--bt-padding);
    width: 33px;
    height: 4px;
    border-radius: 3px;
    background-color: rgb(27, 145, 139);
}

.menu-hamburger:hover{
    background-color: rgba(255, 255, 255, 0.336);
}

.menu-hamburger>span {
    color: rgb(27, 145, 139);
}

.menu-hamburger::before {
    top: var(--bt-padding);
}

.menu-hamburger::after {
    bottom: var(--bt-padding);
}

.menu-hamburger.opened {
    left: 0;
    transform: translateX(calc(var(--width-main-menu) - (var(--bt-size) / 2)));
}

.menu-hamburger.opened::before {
    transform-origin: 0 0;
    transform: rotate(45deg) scaleX(1.4);
}

.menu-hamburger.opened::after {
    transform-origin: 0 0;
    transform: rotate(-45deg) scaleX(1.4);
}

.menu-hamburger.opened>span {
    transform: scale(0);
}
*/

nav.main-menu {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: var(--width-main-menu);
    left: 0;
    top: 0;
    height: 100dvh;
    transition: .3s;
    transform: translateX(-100%);
    backdrop-filter: blur(2.5px);
    overflow: auto;
}

nav.main-menu a {    
    display: block;
    text-decoration: none;
}

nav.main-menu.opened {
    transform: translateX(0%);
    z-index: 1;
} 

.icon {
    transition-duration: 0.5s;
    position: absolute;
    height: 3px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}

.icon.active {
    transition: .3s ease-in-out;
    background: transparent;
}

.menu-button {
    --bt-size: 3rem;

    display: grid;
    place-items: center;
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: var(--bt-size);
    height: var(--bt-size);
    background: #c5cdd0;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    border: none;
    transition: .3s;
    background-color: transparent;
    transition: .3s;
    font-size: 50px;
}

.menu-button::before,
.menu-button::after {
    content: '';
    position: absolute;
    padding: auto;
    top: 50%;
    left: 50%;
    width: 1.8rem;
    height: 0.2rem;
    background: #ffffff;
    border-radius: 0.2rem;
    transition: all 0.3s ease-in-out;
}

.menu-button::before {
    margin-top: -0.6rem;
    transform: translate(-50%, -50%) rotate(180deg);
}

.menu-button::after {
    margin-top: 0.6rem;
    transform: translate(-50%, -50%) rotate(180deg);
}

.menu-button.active::before {
    margin-top: 0.1rem;
    transform: translate(-50%, -50%) rotate(45deg);
}

.menu-button.active::after {
    margin-top: 0.1rem;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.menu-button.active{
    transition: 0.3s;
    background-color: rgb(23, 185, 177);
}

.menu-button.active {
    left: 0;
    transform: translateX(calc(var(--width-main-menu) - (var(--bt-size) / 2)));
    z-index: 2;
}


/* ----------------------------------- */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    
    min-height: 100vh;
    margin: 0;
}


main {
    place-items: center;
    position: relative;
    min-height: calc(100dvh - 350px);
    padding-top: 5rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--content_background);
    padding: 3vw;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media img {
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

#githubImg {
    border-radius: 50%;
}

/* --------- HEADER --------- */

header {
    top: 0;
    position: fixed;
    width: 100%;
    height: 13vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2.5px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    
}

.titulo{
    top: 0%;
    height: 100%;
    width: 70%;
    background-image: url('imagens/logo\ colorida.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: .3s;
    }

/* --------- MAIN --------- */

p{
    color: var(--content_color);
    margin: 1rem;
    font-size: medium;
  }

main>h1{
    padding: 2vh;
    margin: auto;
    text-align: center;
  }

h1, h2 {
    background: inherit;
    text-align: center;
    border-radius: 10px;
    position: relative;
    font-size: 24px;
    color: white; /* Cor do texto */
    text-align: center;
    width: fit-content;
    padding: 2rem;
    margin: 2rem;
  }
  
  h1::before, h2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(10px); 
    z-index: -1;
  }
  
  h2{
    position: relative;
    text-align: center;
    margin: auto;
    padding: 2vh;
    margin-bottom: 6vh;
  }
  
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    place-items: center;
    background-color: var(--content_background);
    margin: 6vw;
    border-radius: 15px;
    padding: 3vw;
    box-shadow: 0 0 40px blue;
    position: relative;
    z-index: -1;
    scroll-margin-top: 12vh;
  }

  section::before {
    content: "";
    display: block;
    height: 100px; /* ou a altura que você deseja */
    margin-top: -100px 0 0;
    visibility: hidden;
    position: absolute;
}

.txtAndImg {
    display: flex;
    text-align: justify;
  }

  /* Botão de volta ao topo */

.meuBtn {
    display: none; 
    position: fixed;
    bottom: 20px;
    right: 30px; 
    z-index: 99; 
    border: none;
    outline: none;
    background-color: rgb(27, 145, 139);
    color: white;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    font-size: 18px;
    transition: .3s;
  }
  
  .meuBtn:hover {
    background-color: rgb(0, 255, 242);
    color: black;
  }

/* ----------------------------------- */

#switch-mode{
    position: fixed;
    right: 1rem;
    top: 1rem;
    width: var(--bt-size);
    height: var(--bt-size);
    border: none;
    cursor: pointer;
    z-index: 1;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
}

/* MODAL TEMA */

dialog#themeModal {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    background-color: var(--content_background);
    color: var(--content_color);
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2.5px);
}

dialog button, nav a {
    border: 3px solid #00d9ff;
    font-size: 20px;
    margin: 0.8rem;
    background: var(--content_background);
    color: var(--content_color); 
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
}

#btSimModal {
    border: 3px solid rgb(12, 196, 27);
}

#btNaoModal {
    border: 3px solid rgb(240, 28, 28);
}

dialog h1 {
    color: var(--content_color);
}
    
nav a:hover, dialog button:hover {
    background: #00d9ff;
    box-shadow: 0 0 35px #00d9ff;
    border: var(--content_color) solid;
    transform: scale(109%);
}

#btSimModal:hover {
    border: rgb(12, 196, 27) solid;
    background: rgb(12, 196, 27);
    box-shadow: 0 0 35px rgb(12, 196, 27);
}

#btNaoModal:hover {
    border: rgb(240, 28, 28) solid;
    background: rgb(240, 28, 28);
    box-shadow: 0 0 35px rgb(240, 28, 28);
}
    
nav a:hover, dialog button::before{
    content: '';
    inset: 2px;
}

/* --------------- Fotos ------------------- */
.divs-fotos {
    display: flex;
    place-items: center;
    max-width: max-content;
    margin: 1.5vw;
}

.fotos {
    height: 200px;
    width: 200px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
}

#foto-leon {
    background-image: url('imagens/Leon.jpg');
}

#foto-nilce {
    background-image: url('imagens/Nilce.png');
}

#foto-coisadenerd {
    background-image: url('imagens/coisadenerd.jpg');
}

#foto-cadeachave {
    background-image: url('imagens/cadeachave.jpg');
}

#foto-republicacoisadenerd {
    background-image: url('imagens/republicacoisadenerd.jpg');
}